<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.favorie.at">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".analytics.AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <!--
            sugar oms 사용하기 위한 setting
        -->
        <meta-data
            android:name="DATABASE"
            android:value="AT.db" />
        <meta-data
            android:name="VERSION"
            android:value="13" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="co.favorie.at" />
        <!--
            tracker 사용하기 위한 setting
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--Notification Part-->

        <service android:name=".notification.ATNotificationService" />


        <!--부팅이 되면 ATBootReceiver 내용 수행(서비스 시작)-->
        <receiver
            android:name=".notification.ATBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--
     Optionally, register AnalyticsReceiver and AnalyticsService to support background
     dispatching on non-Google Play devices
     google API
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SelectActivity"
            android:label="@string/title_activity_select"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DateDetailActivity"
            android:label="@string/title_activity_date_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TimeDetailActivity"
            android:label="@string/title_activity_time_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".UpdateDefaultATActivity"
            android:label="@string/title_activity_update_default_at"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".RecipeActivity"
            android:label="@string/title_activity_recipe"></activity>

        <activity android:name=".CustomDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>

        <!--+++++++++++++++++++위젯부분+++++++++++++++++++++-->

        <!--<service
            android:name=".widget.ATAppWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name=".widget.UpdateWidgetService" />

        <receiver
            android:name=".widget.ATAppWidgetProvider"
            android:label="Small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.ATAppWidgetProviderLarge"
            android:label="Large">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_large" />
        </receiver>
-->
    </application>

</manifest>
